@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar bg-dark">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 bg-dark" style="border-bottom: 1px solid #88e23b;">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">Developer</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
